body{
  background-color: #E8EFFF;
  font-family: 'Inter', sans-serif;
  color: #595e7a;
}

p, h1, h2 {
  margin-bottom: 0;
}

.navbar {
  background: #50a060;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1em 6em;
}

.navbar-logo {
  margin-right: auto;
  color:#E8EFFF;
  display: flex;
  font-weight: bold;
}

.navbar-logo-img {
  width: 2.15em;
}
.navbar-links {
  margin: 0 2em;
  color: #E8EFFF;
}

.custom_a, .custom_a:hover, .custom_a:visited {
  color:#E8EFFF;
}

.custom_a:hover {
  text-decoration: underline;
}

span{
  padding: 0.25em
}

.navbar-links-signup {
  font-size: 0.95rem;
  border:#E8EFFF;
  border-style: solid;
  border-radius: 2px;
  border-width: 1px;
  padding: 0.25em;
  margin: 0 0.75em;
}

.navbar-links-signup:hover {
  text-decoration: none;
  background-color: #E8EFFF;
  color: #50a060;
}

.Home {

}

.Home-header {
  height: 685px;
  padding: 2em 6em;
  background-size: cover;
  background: url('./assets/homeCover.jpeg'); 
  background-size:cover;
  background-repeat: no-repeat;
}

@media (max-width:600px) {
  .Home-header {
    height: 400px;
    padding: 2em 2em;
  }
}

.header-content-h1 {
  color: #E8EFFF ;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 1em;
}
@media (max-width:600px) {
  .header-content-h1{
    font-size: 2.3rem;
  }
}
.header-content-h1 span {
  background-color: rgba(80, 160, 96, 0.75);
  border-radius: 5px;
  padding: 0;
}

.header-content-h2 {
  color: #E8EFFF;
  font-size: 1.5rem;
  font-weight:normal;
}



/* Tab Container */
.Tabs {
  background:  #f4f6fa;
  margin-top: 150px;
  padding: 2rem 1rem;
  color: #595e7a;
  border-radius: 2rem;
  border: 1px solid #595e7a;
 }

 @media (max-width:600px) {
  .Tabs {
    margin-top: 20px;
  }
 }
 /* Tab Navigation */
ul.nav {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #595e7a;
  border-radius: 2rem;
  padding-left: 0px;

}
ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
ul.nav li:nth-child(2) {
  border-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
ul.nav li:hover {
  background: rgba(50, 224, 196, 0.15);
}
ul.nav li.active {
  background: #E8EFFF;
}
.FirstTab p,
.SecondTab p {
  font-size: 2rem;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918E9B;
}

.Home-h2 {
  color: #6BA7FF;
  font-size: 1.85rem;
  font-weight:bold;
  padding: 0 6rem;
}

.Home--container {
  display: flex;
  padding: 0 6em;
  align-items: center;
}

@media (max-width:600px) {
  .Home-h2 {
    font-size: 1.5rem;
    padding: 0 2rem;
  }
  .Home--container {
    padding: 0 2em; 
  }
  
}
.scrollbtn {
  background-color: rgba(107, 167, 255, 0.2);
  padding: 1em;
}

.Home-cards {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth
}

@media (max-width:600px) {
  .scrollbtn {
    display: none;
  }
  .Home-cards {
    overflow-x: scroll;
    /* -webkit-overflow-scrolling: touch; */
  }
  .Home-cards::-webkit-scrollbar {
    display: none;
  }
}

.card {
  width: 18em;
  padding: 1.5em;
  font-size: 0.8rem;
}

.card--h3 {
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.card--image {
  object-fit: cover;
  border-radius: 4px;
  width: 100%;
  height: 140px;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  color: #50a060;
}

/* authentication */
/* NavBar Styling */
.ui.menu:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

/* Jumbotron/Message styling */
.ui.message.message-container {
  text-align: center;
  padding: 50px;
  box-shadow: 0;
  margin: 0;
}
/* UserForm styling */
.form-container{
  text-align: center;
  width: 300px;
  margin: 0 auto;
  padding-top: 50px;
}
/* UserForm alert message */
.ui.alertMssg {
  margin-top: 0;
  margin-bottom: 1em;
  text-align: center;
}